# ConsoleColor config

# Should the plugin tag [PLUGIN_NAME] be highlighted
colorPluginTag: true

# Should the log message be highlighted depending on the logging level
colorLoggingLevel: true

# How the messages should be displayed
#
# Variables:
# %thread - Thread name
# %d{HH:mm:ss} - Timestamp
# %msg - log message
# %n - new line
# These variables try to get the orgin. This is an expensive operation and may impact performance. Use with caution.
# %class{precision} - Class name
# %method - Method name
# %line - Line number
#
# For more details vist: https://logging.apache.org/log4j/2.x/manual/layouts.html#Patterns
logFormat: '[%d{HH:mm:ss} %-5level]: %msg%n'